.dog{
    background: url("./resources/dog-in-space-iphone-6-plus-wallpaper.png"), var(--orange);
    background-position: center;
    background-size:contain;
    position: relative;
    background-repeat: no-repeat;

}
.welcome{
    position: relative;
    top: 12%;
    
}
.get-started{
    background:linear-gradient(45deg,var(--highlight), white,var(--highlight));
    color: rgb(64,34,44);
    position: absolute;
    transition: .5s;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
}
.get-started:hover{
    scale:1.2;
    border: 0;
    letter-spacing: 2px;
}

.resultImage{
    position: absolute;
    top:30%;
    border: 2px solid white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    box-shadow: 2px 3px 5px 1px;
}
